{% extends 'base.html' %}

{% block title %}
Reset Password
{% endblock %}


{% block content %}

{% load static %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = "{% url 'accounts:profile' %}";
</script>
{% endif %}

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <form action="{% url 'password_reset' %}" method="POST">

                <p class="h4 mb-4 font-weight-bold">Reset Password</p>
                {% if form.errors %}
                <div class="alert alert-primary" role="alert">
                    Error: Please try again!
                </div>
                {% endif %}
                {% csrf_token %}

                {{ form.as_p }}
                <button class="button" type="submit" value="log-in">Send Email</button>

            </form>
        </div>
    </div>
</section>



{% endblock %}