{% extends 'base.html' %}

{% block title %}
Create New Password
{% endblock %}


{% block content %}

{% load static %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <form method="POST">
                {% if form.errors %}
                <div class="alert alert-primary" role="alert">
                    Error: Please try again!
                </div>
                {% endif %}

                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit" value="log-in">Confirm</button>
                <div style="display: flex; margin-top: 10px;">
                    <p class="">
                        <a style="text-decoration: none; padding: 5px;" href="{% url 'accounts:login' %}">Already have a
                            account?</a>
                    </p>
                    <p class="">
                        <a style="text-decoration: none; padding: 5px;" href="{% url 'accounts:register' %}">Help
                            Center?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}