{% extends 'base.html' %}

{% block title %}
Password Reset Done
{% endblock %}


{% block content %}

{% load static %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div style="display: block; margin-top: 10px; text-align:center;">
                <p class="h3 mb-4 font-weight-bold">Reset your password with the link sent on Email</p>
            </div>
            <div style="display: block; margin-top: 10px; text-align:center;">
                <p class="h4 mb-4 font-weight-normal">If you didn't receive an email, pleases make sure you have entered
                    the
                    email
                    you registered with.</p>
            </div>
            <div style="display: block; margin-top: 10px; text-align:center;">
                <p class="">
                    <a style="text-decoration: none; padding: 5px;" href="{% url 'accounts:login' %}">Sign in?</a>
                </p>
                <p class="">
                    <a style="text-decoration: none; padding: 5px;" href="{% url 'accounts:register' %}">Help
                        Center?</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}