{% extends 'base.html' %}

{% block title %}
Account Summary
{% endblock %}

{% block content %}

{% load static %}
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Your Data</h1>
            </div>
            {% if messages %}
            {% for mess in messages %}
            {{mess}}
            <div class="alert alert-warning" role="alert">
                {{mess}}
            </div>
            {% endfor %}
            {% endif %}
            <br>
            {% if otp %}
            <form method="POST" action="{% url 'bank:show' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">OTP</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP"
                        aria-describedby="basic-addon1" name='otp'>
                </div>
                <div class="input-group-prepend">
                    <button class="input-group-text" type="submit">Verify</button>
                    <small class="float-right text-muted"><i><a href="#" class="text-dark"
                                onclick="ReSendOTP('{{usr.username}}', 'resendOTPmess')"><i
                                    id="resendOTPmess">Resend</i> OTP</a></small>
                </div>
            </form>

            {% else %}
            <table>
                <tr>
                    <th>
                        Property
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        {{ledger.full_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Mobile No:
                    </td>
                    <td>
                        {{ledger.phone}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Email id:
                    </td>
                    <td>
                        {{ledger.email}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Account balance:
                    </td>
                    <td>
                        {{ledger.balance}}
                    </td>
                </tr>
            </table>
            {% endif %}
</section><!-- End Hero -->

{% endblock %}